<!-- Here's the DIV that we inject the map into -->

<div class="flex-column">
    <div fxFlex="80%">
        <div #mapViewNode></div>
    </div>
    <div *ngIf="showReviewField && loggedIn" class="flex-row">
      <input [(ngModel)]="feedback" placeholder="Describe your experience" style="margin-right: 5px; width: 200px"><br>
      <input [(ngModel)]="rating" type="number" placeholder="Give us a rating from 1-10" style="margin-right: 5px; width: 200px"><br>
      <button (click)="saveReview()">Save review</button><br>
      <button (click)="cancel()">Cancel</button><br>
      <span>{{errorMessage}}</span>
    </div>
    <div *ngIf="showReviewField && !loggedIn">
      <span>{{errorMessage}}</span>
      <button (click)="cancel()">Cancel</button><br>
    </div>
</div>
